<!DOCTYPE html>
<html>
    
    

<head>
</head>

<body>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>AboutMe</title>
<meta content="background images COMP213" name="keywords">
<meta content="using background images" name="description">
<link href="Content/week06Styles.css" rel="stylesheet" type="text/css">
<style type="text/css">
.auto-style1 {
	color: #000000;
}
.auto-style2 {
	color: #ED1717;
}
.auto-style3 {
	color: #E41010;
}
</style>

<div id="allpage">
	<main>
	<nav>
		
	<h2><span class="auto-style2">Introduction</span><img alt="Myphoto" height="364" src="assets\images\myPic.PNG" style="float: right" width="254"></h2>
	<p><span class="auto-style1">My name is Prince and my portfolio is a representation of all that i have learned and accompolished as an engineering student.My personal philosphy when it comes to education and learning is closely relaed to several cognitive theories of motivation.I think that what goes on class is my responsibility,and,by workng with students all of us can create an ideal enviornment for education,understanding and even fun.Moreover, i love designing and i'm looking for more opportunities to work in coding on freelance</span> basis. </p>
		<p>&nbsp;</p>
	<p><span class="auto-style1" >Here Are Some of my hobbies.</p>
	<ul>
		<li>Website Design</li>
		<li>Playing Cricket</li>
		<li>Coding</li>
		<li>Listening Music</li>
		<li>Reading Books</li>
	</ul>
		<p><a href="assets/Resume (2).pdf" style="color: #000000;">Link To Resume</a></p>
		</span>
</nav>
</main>

<footer>

</footer>
</div>
</body>

</html>