

<!DOCTYPE html>
<html lang="en">
<head>
<title>Express Portfolio</title>

</head>
<body>
<meta charset="utf-8">
<meta content="Portfolio, Comp-229" name="keywords">
<meta content="Comp-229" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

.auto-style1 {
	font-weight: bold;
	color: #DC260C;
}
.auto-style2 {
	color: #FF3737;
}

</style>
<link href="projectStyles.css" rel="stylesheet" type="text/css">
<div id="wrapper">
  <header>
    <h1>Personal Portfolio</h1>
  </header>
  
  <main>
    <p>Student Name= Prince</p>
    <p>Student Id: 301105083</p>
 	<p>This is my Portfolio. </p>
	<p>Here you will be able to find about my Personality and Education.</p>
	<p>I have uploaded all my projects based on Web development, Interface 
  Design and Client Side.</p>
  </p>My mission Statement<b>"The secret of getting ahead is getting started."</b></p>
  </main>
   <aside>
    <figure>
    	<img alt="Myphoto" height="419" src="assets\images\myPic.PNG" width="325">
    <br>Prince</figure>
  </aside>

 </div>
</body>
</html>


