
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<meta charset="utf-8">
<meta content="Portfolio, Comp-229" name="keywords">
<meta content="Comp-229" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

.auto-style1 {
	color: #000000;
	font-size: large;
}
.auto-style7 {
	text-decoration: none;
}
.auto-style8 {
	font-family: "Times New Roman", Times, serif;
}

#kuchbhi {
	list-style-image: url('About me/images/0602021fa2e6713b-the-gallery-for-moving-eye-animation.gif');
	font-family: "Times New Roman", Times, serif;
	color: #000000;
}

.auto-style9 {
	color: #E41010;
}

</style>
<link href="projectStyles.css" rel="stylesheet" type="text/css">
<div id="wrapper">
  <header>
   
  </header>
  
  <main>
 	<h2>Projects And Assignments</h2>
    <ul id="kuchbhi" >
		<li><span class="auto-style8">
		<a class="auto-style7" href="http://studentweb.cencol.ca/p319/Prince%20(1).html">
		<span class="auto-style1"><em><strong>This 
		is a BMR Calculator </strong></em></span></a></li>
		<li>
		<a class="auto-style7" href="http://studentweb.cencol.ca/p319/Assignment2-125/calendar.htm">
		<span class="auto-style1"><em><strong>This is a Order Table</strong></em></span></a></li>
		<li>
		<a class="auto-style7" href="http://studentweb.cencol.ca/p319/assigment3.html">
		<span class="auto-style1"><em><strong>This is a Website For a Restaurant</strong></em></span></a></li>
		<li>
		<a class="auto-style7" href="http://studentweb.cencol.ca/p319/membershipformoriginal.html">
		<span class="auto-style1"><em><strong>This is a Registration Form</strong></em></span></a></li>
		<li>
		<a class="auto-style7" href="http://studentweb.cencol.ca/p319/Bug-Smasher-Game-master/assignment_5.html">
		<span class="auto-style1"><em><strong>This is a BUG SMASHER game.</strong></em></span></a></li>
		<li>
		<a class="auto-style7" href="http://studentweb.cencol.ca/p319/Bug-Smasher-Game-master/Maps.html">
		<span class="auto-style1"><em><strong>This is Google Map</strong></em></span></a></li>
		<li>
		<a class="auto-style7" href="http://studentweb.cencol.ca/p319/Assignment6/assign6.html">
		<span class="auto-style1"><em><strong>This is a Gallery View</strong></em></span></a></span></li>
	</ul>
  </main>
  
 </div>
</body>
</html>