
<!DOCTYPE html>
<html lang="en">
<head>
<title>Express Portfolio</title>
</head>
<body>
<meta charset="utf-8">
<meta content="Portfolio, Comp-229" name="keywords">
<meta content="Comp-229" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

.auto-style1 {
	font-weight: bold;
	color: #DC260C;
}
.auto-style2 {
	color: #FF3737;
}

</style>
<link href="projectStyles.css" rel="stylesheet" type="text/css">

<div id="wrapper">
  <header>
   
  </header>
  
  <main>
 	<p>This is List of services i provide.</p>
	<ul>
		<li>I can design a app for you.</li>
		<li>I can built a website for you. </li>
		<li>I can make a game for you.</li>
	</ul>
  </main>

 </div>
</body>
</html>
